
<div class="sectionOne">
<img src="assets/section1_images.jpg" alt="">
</div>

<div class="sectionTwo">
<div class="serviceTitle"><h1>Szolgáltatásaink</h1></div>
<div class="cards">

  <div class="serviceCard">
    <i>icon</i>
    <p>Lorem ipsum dolor sit amet.</p>
    <div class="serviceButton">
      <button>Tovább</button>
    </div>
  </div>

  <div class="serviceCard">
    <i>icon</i>
    <p>Lorem ipsum dolor sit amet.</p>
    <div class="serviceButton">
      <button>Tovább</button>
    </div>
  </div>

  <div class="serviceCard">
    <i>icon</i>
    <p>Lorem ipsum dolor sit amet.</p>
    <div class="serviceButton">
      <button>Tovább</button>
    </div>
  </div>

  <div class="serviceCard">
    <i>icon</i>
    <p>Lorem ipsum dolor sit amet.</p>
    <div class="serviceButton">
      <button>Tovább</button>
    </div>
  </div>

  <div class="serviceCard">
    <i>icon</i>
    <p>Lorem ipsum dolor sit amet.</p>
    <div class="serviceButton">
      <button>Tovább</button>
    </div>
  </div>

  <div class="serviceCard">
    <i>icon</i>
    <p>Lorem ipsum dolor sit amet.</p>
    <div class="serviceButton">
      <button>Tovább</button>
    </div>
  </div>

</div>
</div>

<div class="sectionThree">

  <h1>About Us</h1>
</div>

<div class="sectionFour">
<h1>Miért minket válassz?</h1>

<div class="explaneHolder">
  <div class="explaneCard">
    <i>icon</i>
    <p>Lorem, ipsum dolor.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, ipsam.</p>
  </div>

  <div class="explaneCard">
    <i>icon</i>
    <p>Lorem, ipsum dolor.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, ipsam.</p>
  </div>

  <div class="explaneCard">
    <i>icon</i>
    <p>Lorem, ipsum dolor.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, ipsam.</p>
  </div>

  <div class="explaneCard">
    <i>icon</i>
    <p>Lorem, ipsum dolor.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, ipsam.</p>
  </div>
</div>
</div>

<div class="sectionFive">

</div>

<div class="sectionSix">

</div>

<div class="sectionSeven">

</div>

<div class="sectionEight">

</div>
